.param-field {
  border: solid 1px #ccc;
  border-radius: 3px;
  height: 30px;
  padding: 0 15px;
}

mat-button-toggle::ng-deep {
  .mat-button-toggle-label-content {
    line-height: 30px;
    padding: 0 20px;
  }
}

.object-count {
  text-align: center;
  width: 130px;
  font-size: 17px;
}

.object-name {
  width: 130px;
}

.param {
  display: inline-block;
  margin: 10px 15px 0;
}

.param-name {
  font-weight: bold;
  margin-right: 10px;
}

.custom-separator {
  border: solid 1px #ccc;
  position: relative;
  height: 24px;
}

.warning-big-results {
  color: #ffc107;
  font-size: 0.8em;
  display: block;
}

.description {
  color: #444;
  font-size: 0.9em;
  margin-top: -15px;
  margin-bottom: 20px;
}

.template-title {
  display: inline-block;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-image: linear-gradient(283deg, #008d7f 10%, #4db6ac 100%);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 1.2em;
  padding: 5px 20px;
  color: #fff;
  text-shadow: 0 0 1px #000000;
  border-radius: 5px;
  font-weight: 600;

  &.def {
    border-radius: 5px 15px 5px 5px;
  }
}
