<div class="editor-container">
  <div class="half-pane">
    <h2>Définition</h2>
    <div class="loader"></div>
    <app-definition-editor [initialValue]="defaults.initial_definition"
                           (onChange)="updateDefinition($event)"></app-definition-editor>
  </div>
  <div class="half-pane">
    <h2>Sortie</h2>
    <mat-slide-toggle [checked]="auto_generate" (change)="changeAutoGenerate($event.checked)">
      Actualisation auto
    </mat-slide-toggle>

    <button mat-button (click)="generate()">
      <mat-icon>cached</mat-icon>
      Actualiser
    </button>

    <button mat-button (click)="download()">
      <mat-icon>download</mat-icon>
      Télécharger
    </button>

    <div class="loader">
      <mat-progress-bar mode="buffer" *ngIf="is_request_pending"></mat-progress-bar>
    </div>

    <app-data-preview [data]="generated"></app-data-preview>
  </div>
  <div class="spacer" style="clear: both;"></div>
</div>

<app-output-config (onChange)="updateOutputConfig($event)"></app-output-config>

<h2>Documentation</h2>
<app-generator-doc></app-generator-doc>

