.title {
  display: inline-block;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 0;
}

.description {
  color: #444;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 20px;
}

.resize-bar {
  display: inline-block;
  width: 2px;
  height: 502px;
  background: rgb(33, 150, 243, 0.56);
  vertical-align: top;
  margin-top: 79px;
  cursor: col-resize;
}

.half-pane {
  display: inline-block;
  width: calc(50% - 1px);
}

app-definition-editor {
  display: inline-block;
  border: solid 1px #ccc;
  width: calc(100% - 2px);
}

.definition-status {
  mat-icon {
    top: 3px;
    position: relative;
  }

  .def-ok {
    color: #009688;
  }

  .def-error {
    color: #ff5722;
  }
}

app-data-preview {
  display: inline-block;
  border: solid 1px #ccc;
  border-left: none;
  width: calc(100% - 1px);
}

app-template-editor {
  display: inline-block;
  width: calc(100% - 2px);
  border: solid 1px #ccc;
}

app-generator-doc {
  display: block;
  padding-bottom: 50px;
}

.loader {
  margin-bottom: 5px;
  height: 5px;
}

@media (max-width: 900px) {
  .half-pane {
    width: 100%;
  }
}
