<div class="editor-container" (mousemove)="doResize($event)" (mouseup)="stopResize($event)" [class.isError]="is_error">
  <div class="half-pane" [style]="{width: leftPaneWidth}">
    <div class="title def">MODEL DEFINITION</div>
    <span class="definition-status">
        <mat-icon *ngIf="is_error" class="def-error" matTooltip="The definition is invalid">error</mat-icon>
        <mat-icon *ngIf="!is_error" class="def-ok" matTooltip="The definition is valid">check_circle</mat-icon>
      </span>
    <div class="loader"></div>
    <app-definition-editor (onChange)="storage.definition.next($event)"
                           [definitionError]="is_error"></app-definition-editor>
  </div>
  <div class="resize-bar" (mousedown)="startResize($event)"></div>
  <div class="half-pane" [style]="{width: rightPaneWidth}">
    <div class="title">PREVIEW</div>
    <mat-slide-toggle [checked]="auto_generate" (change)="changeAutoGenerate($event.checked)" matTooltip="Turn on to generate the result as you type">
      Auto refresh
    </mat-slide-toggle>

    <button mat-button (click)="generate()">
      <mat-icon>cached</mat-icon>
      Refresh
    </button>

    <button mat-button (click)="download()">
      <mat-icon>download</mat-icon>
      Download
    </button>

    <div class="loader">
      <mat-progress-bar mode="buffer" *ngIf="is_request_pending"></mat-progress-bar>
    </div>

    <app-data-preview [data]="generated"></app-data-preview>
  </div>
  <div class="spacer" style="clear: both;"></div>
</div>

<app-output-config (onChange)="storage.output_config.next($event)"></app-output-config>

<div class="title">PROVIDERS</div>
<app-generator-doc></app-generator-doc>

