
.main-container {
  padding: 20px;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(110deg, #009688 70%, #4db6ac 70%);
  color: #fff;
}

.app-info {
  margin-left: 10px;
}

.app-name {
  font-weight: bold;
}

.app-version {
  font-size: 0.8em;
}

.header-right {
  flex: 1;
  text-align: right;
}

.store-manager {
  margin: 0 50px;
}
