
.main-container {
  padding: 0 20px;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #fff;
  background-image: linear-gradient( 135deg, #009688 10%, #00897b 70%,#009688 70%, #028978 100%);
  border-bottom: solid 2px #00695c;
}

.app-info {
  margin-left: 10px;
}

.app-name {
  font-weight: bold;
}

.app-version {
  font-size: 0.8em;
}

.new-version {
  border-radius: 15px;
  padding: 3px 9px 3px 6px;
  background: #03a9f4;
  text-decoration: none;
  color: #fff;

  mat-icon {
    color: white;
    font-size: 21px;
    vertical-align: middle;
  }
}

.github-button {
  display: inline-block;
  border-radius: 0.25em;
  padding: 5px 10px;
  background-color: #ebf0f4;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'%3e%3clinearGradient id='o' x2='0' y2='1'%3e%3cstop stop-color='%23f6f8fa'/%3e%3cstop offset='90%25' stop-color='%23ebf0f4'/%3e%3c/linearGradient%3e%3crect width='100%25' height='100%25' fill='url(%23o)'/%3e%3c/svg%3e");
  border: 1px solid rgba(27, 31, 36, .15);
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  color: #24292f;
}

.header-right {
  flex: 1;
  text-align: right;
}

.store-manager {
  margin: 0 50px;
}
