<div>

  <input type="text" class="save-name" placeholder="Nom de la configuration" [(ngModel)]="save_name"/>

  <button mat-icon-button [matMenuTriggerFor]="storeList" matTooltip="Sauvegardes">
    <mat-icon [matBadge]="save_count" matBadgePosition="above" matBadgeSize="small" matBadgeColor="accent">star
    </mat-icon>
  </button>
  <mat-menu #storeList="matMenu">
    <button mat-menu-item *ngFor="let item of store | keyvalue" [value]="item.key" (click)="load(item.key)">
      <span>{{ item.key }}</span>
    </button>
  </mat-menu>

  <button mat-icon-button (click)="save(save_name)" [disabled]="!save_name"
          matTooltip="Sauvegarder la configuration courante">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button (click)="delete()" [disabled]="!save_name || !store[save_name]"
          [matTooltip]="'Supprimer la configuration la configuration ' + this.save_name">
    <mat-icon>delete</mat-icon>
  </button>

</div>
