<div>
  <mat-dialog-content class="favorites-container">
    <mat-form-field appearance="fill" class="name">
      <mat-label>Name of the favorite</mat-label>
      <input matInput #name (keyup.enter)="dialogRef.close(name.value)">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary" [mat-dialog-close]="name.value" [disabled]="!name.value">Create</button>
  </mat-dialog-actions>
</div>
