.favorites-container {
  min-height: 300px;
}

.favorites {
  display: flex;
  width: 100%;

  .name {

  }

  .update-date {
    flex: 1;
    font-size: 0.8em;
    margin-top: 4px;
    text-transform: none;
    margin-left: 5px;
    color: darkgrey;
  }

  .actions {
    justify-content: right;

    .remove {
      color: #ff5722;
    }
    .load {
      color: #298aff;
    }
  }
}

.storage-notice {
  font-size: 0.8em;
  font-weight: normal;
}
