mat-form-field {
  width: 100%;
}

.field {
  width: 100%;
  margin: 10px 0;
}

.template-filename {
  font-family: consolas, monospace;
}

.count {
  margin: 0;
}

.template-filename-hint {
  font-size: 0.8em;
  color: #888;
  list-style: none;
  padding: 0;
  margin-top: -25px;
}
