<form ngNoForm method="POST" action="/api/provider/download">

  <input type="hidden" name="definition" [value]="definition"/>
  <input type="hidden" name="output.gzip" [value]="config.gzip"/>
  <input type="hidden" name="output.single_file" [value]="config.single_file"/>
  <input type="hidden" name="output.pretty" [value]="config.pretty"/>
  <input type="hidden" name="output.template" [value]="config.template"/>
  <input type="hidden" name="output.format" [value]="config.format"/>
  <input type="hidden" name="output.object_name" [value]="config.object_name"/>
  <input type="hidden" name="output.table_name" [value]="config.table_name"/>
  <input type="hidden" name="output.separator" [value]="config.separator"/>
  <input type="hidden" name="output.filename_template" [value]="config.filename_template"/>

  <mat-form-field appearance="fill" class="field count">
    <mat-label>Number of objects to generate</mat-label>
    <input matInput name="output.count" type="number" [(ngModel)]="config.count"/>
  </mat-form-field>

  <mat-slide-toggle class="field" *ngIf="!config.single_file" [(ngModel)]="config.gzip">
    Compress the file to GZIP
  </mat-slide-toggle>

  <mat-slide-toggle *ngIf="!config.gzip" [(ngModel)]="config.single_file" class="field">
    Zip with {{config.count}} files (one object per file)
  </mat-slide-toggle>

  <div *ngIf="config.single_file">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Name of files</mat-label>
      <input matInput [(ngModel)]="config.filename_template" class="template-filename" required>
    </mat-form-field>
    <ul class="template-filename-hint">
      <li>#num = number of file (0 to {{config.count - 1}})</li>
      <li>#uuid = unique identifier (ex: da421811-da52-48ce-befd-a49c36d99439)</li>
      <li>${{ '{' }}myField{{ '}' }} = Value of the field "myField" from the generated object</li>
    </ul>
  </div>

  <button class="field" type="submit" mat-flat-button color="primary" (click)="download()">
    <mat-icon>download</mat-icon>
    Download
    <span *ngIf="config.single_file">the zip containing {{config.count}} files</span>
    <span *ngIf="config.gzip">the {{config.count}} objects in one file .{{config.format}}.gz</span>
    <span *ngIf="!config.gzip && !config.single_file">the {{config.count}} objects in one file .{{config.format}}</span>
  </button>
</form>

